webservice/src/main/webapp/wsdl/xsd/service.lastrest.andromda.sw.org.xsd

<!-- Generated by andromda-webservice cartridge (jaxws/jaxws-package-xsd.vsl) on 04/28/2016 01:20:56-0400 DO NOT EDIT! -->
    <xs:schema targetNamespace="http://service.lastrest.andromda.sw.org/"
        attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
        xmlns:impl="http://service.lastrest.andromda.sw.org/"
        xmlns:ns1="http://vo.lastrest.andromda.sw.org/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:import namespace="http://vo.lastrest.andromda.sw.org/" xmlns="http://www.w3.org/2001/XMLSchema"
            schemaLocation="vo.lastrest.andromda.sw.org.xsd"/>
        <!-- org.sw.andromda.lastrest.service.SearchService.indexDocument -->
        <xs:element name="indexDocument">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="documents" type="ns1:DocumentVO" minOccurs="0" maxOccurs="unbounded" nillable="false">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="indexDocumentResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Boolean" type="xs:boolean" minOccurs="0">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- org.sw.andromda.lastrest.service.SearchService.performSearch -->
        <xs:element name="performSearch">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="queryTerm" type="xs:string" minOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="performSearchResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="SearchResultVO" type="ns1:SearchResultVO">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:schema>
