webservice/src/main/webapp/wsdl/xsd/vo.lastrest.andromda.sw.org.xsd

<!-- Generated by andromda-webservice cartridge (jaxws/jaxws-package-xsd.vsl) on 04/28/2016 01:20:56-0400 DO NOT EDIT! -->
    <xs:schema targetNamespace="http://vo.lastrest.andromda.sw.org/"
        attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
        xmlns:impl="http://vo.lastrest.andromda.sw.org/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <!-- Service TypeMapping elements 2 types -->
        <!-- ValueObject org.sw.andromda.lastrest.vo.SearchResultVO -->
        <xs:element name="SearchResultVO" type="impl:SearchResultVO"/>
        <xs:complexType name="SearchResultVO">
            <xs:sequence>
                <xs:element name="documents" type="impl:DocumentVO" minOccurs="0" maxOccurs="unbounded">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <!-- ValueObject org.sw.andromda.lastrest.vo.DocumentVO -->
        <xs:element name="DocumentVO" type="impl:DocumentVO"/>
        <xs:complexType name="DocumentVO">
            <xs:sequence>
                <xs:element name="features" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required">
            </xs:attribute>
            <xs:attribute name="name" type="xs:string">
            </xs:attribute>
            <xs:attribute name="inStock" type="xs:boolean">
            </xs:attribute>
            <xs:attribute name="price" type="xs:double">
            </xs:attribute>
        </xs:complexType>
    </xs:schema>
