webservice/src/main/webapp/wsdl/SearchService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (jaxws/jaxws-wsdl.vsl) on 04/28/2016 01:20:56-0400 -->
<wsdl:definitions
    name="SearchService"
    targetNamespace="http://service.lastrest.andromda.sw.org/"
    xmlns:impl="http://service.lastrest.andromda.sw.org/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <!-- WSDL Types, with separate interface element schema definitions from wsdl endpoint definition -->
    <wsdl:types>
        <xs:schema>
        </xs:schema>
    <!-- Generated by andromda-webservice cartridge (jaxws/jaxws-included-xsd.vsl) on 04/28/2016 01:20:56-0400 DO NOT EDIT! -->
    <xs:schema targetNamespace="http://service.lastrest.andromda.sw.org/"
        attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
        xmlns:impl="http://service.lastrest.andromda.sw.org/"
        xmlns:ns1="http://vo.lastrest.andromda.sw.org/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:import namespace="http://vo.lastrest.andromda.sw.org/" xmlns="http://www.w3.org/2001/XMLSchema"
          schemaLocation="xsd/vo.lastrest.andromda.sw.org.xsd"/>
        <!-- Schema Types from service.allowedOperations -->
        <xs:element name="indexDocument">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="documents" type="ns1:DocumentVO" minOccurs="0" maxOccurs="unbounded" nillable="false">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="indexDocumentResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Boolean" type="xs:boolean" minOccurs="0">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="performSearch">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="queryTerm" type="xs:string" minOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="performSearchResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="SearchResultVO" type="ns1:SearchResultVO">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- 2 Service TypeMapping elements in org.sw.andromda.lastrest.service -->
    </xs:schema>
    </wsdl:types>

    <!-- Messages - Correspond to service wrapped method parameters -->
    <wsdl:message name="indexDocumentResponse">
        <wsdl:part name="indexDocumentResponse" element="impl:indexDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="indexDocument">
        <wsdl:part name="indexDocument" element="impl:indexDocument"/>
    </wsdl:message>
    <wsdl:message name="performSearchResponse">
        <wsdl:part name="performSearchResponse" element="impl:performSearchResponse"/>
    </wsdl:message>
    <wsdl:message name="performSearch">
        <wsdl:part name="performSearch" element="impl:performSearch"/>
    </wsdl:message>

    <!-- Port Type: Service Endpoint Interface implemented by SEI Endpoint which delegates to WSDelegate -->
    <wsdl:portType name="SearchService">
        <wsdl:operation name="indexDocument">
            <wsdl:input name="indexDocument" message="impl:indexDocument"/>
            <wsdl:output name="indexDocumentResponse" message="impl:indexDocumentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="performSearch">
            <wsdl:input name="performSearch" message="impl:performSearch"/>
            <wsdl:output name="performSearchResponse" message="impl:performSearchResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- WSDL Binding - Corresponds to service transport -->
    <wsdl:binding name="SearchServiceSoapBinding" type="impl:SearchService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="indexDocument">
            <soap:operation soapAction="indexDocument" style="document" />
            <wsdl:input name="indexDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="indexDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="performSearch">
            <soap:operation soapAction="performSearch" style="document" />
            <wsdl:input name="performSearch">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="performSearchResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service Definition: Service Endpoint Client Implementation -->
    <wsdl:service name="SearchService">
        <wsdl:port name="SearchService" binding="impl:SearchServiceSoapBinding">
            <soap:address location="http://localhost:9090/lastrest-webservice/services/SearchService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
